@font-face {
    font-family: 'museo_sans500';
    src: url('fonts/museosans-webfont.eot');
    src: url('fonts/museosans-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/museosans-webfont.woff') format('woff'), url('fonts/museosans-webfont.ttf') format('truetype'), url('fonts/museosans-webfont.svg#museo_sans500') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'museo_sans100';
    src: url('fonts/museosans-100-webfont.eot');
    src: url('fonts/museosans-100-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/museosans-100-webfont.woff') format('woff'), url('fonts/museosans-100-webfont.ttf') format('truetype'), url('fonts/museosans-100-webfont.svg#museo_sans100') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'museo_sans300';
    src: url('fonts/museosans-300-webfont.eot');
    src: url('fonts/museosans-300-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/museosans-300-webfont.woff') format('woff'), url('fonts/museosans-300-webfont.ttf') format('truetype'), url('fonts/museosans-300-webfont.svg#museo_sans300') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
}

/*Index Page CSS Rules*/
.page-wrapper {
	background-image: url(images/wvu-bg.jpg);
	background-transparancy;
	background-position:center;
	background-size: cover;
	background-repeat: no-repeat;
	height:100%;
	width:100%;
	position:fixed;
	top:0px;
	bottom:0px;
}
.navbar{
	margin-bottom:0px;
}
.body-wrapper {
	background-color:rgba(255,255,255, .90);
	background-transparancy;
	background-position:center;
	background-size: cover;
	overflow-y: auto;
	overflow-x: hidden;
	background-repeat: no-rgbaepeat;
	height:100%;
	width:100%;
	position:absolute;
	top:0px;
	bottom:0px;
}
.navbar-default .navbar-brand{
	color:#844d3e;
	font-size:20px
}
.jumbotron{
	background-color:rgba(225,225,225, .60);
	padding-top:25px;
	padding-bottom:20px;
}
.jumbotron .container {
	max-width: 1000px
}
.container{
	max-width:1000px;
}
.bottom-mg-2{
	margin-bottom:10px;
}
.row h2{
	margin-top:0px;
}
.img{
	width:100%;
	border:2px solid #fff;
	max-width:220px;
}
.img.pull-left{
	margin-right:3%;
	margin-bottom:1%;
}
.image{
	margin-left: 1%;
	float:right;
	padding: 10px 12px;
	margin-bottom: 1%;
	background-color: #fff;

}
.fixed-bottom{
	position: fixed;
	text-align:center;
	background-color:#eee;
	right: 0;
	padding:1% 0px 0% 0px;
	left: 0;
	bottom: 0px;
	z-index: 1030;
	margin-bottom: 0;*/
}
.uni-logos{
	
	padding:2% 0px;
	
}
.ender{
	padding:60px 0px;
}

.column7{
	width:60%;
	float: left;
}
.column5{
	width:40%;
	float: left;
}
.column4{
	width:33.3%;
	float: left;
}
.bio p{
	font-size:20px;
	color:#666;
	
}
.scholarship.holder3{
	background-image: url(images/scholarship.png);
	background-repeat:no-repeat;
	background-size:auto 70px;
	padding:40px 0px 10px 90px;
	
	
}
.students.holder3{
	background-image: url(images/students.png);
	background-repeat:no-repeat;
	background-size:auto 70px;
	padding:40px 0px 10px 60px;
	margin-left:24px;
	
	
}

.qualifications.holder3{
	background-image: url(images/qualifications.png);
	background-repeat:no-repeat;
	background-size:auto 70px;
	padding:40px 0px 10px 75px;
	margin-left:15px;
	
	
}
.form-horizontal .checkbox {
	min-height: 27px;
	padding: 10px 15px 10px 5px;
	background-color: #F0EDED;
	border: 1px solid #CCC;
	border-radius: 4px;
}

.form-group.error{
	width:100%;
	float:none;
	clear:both;
}
.holder3{
	margin-right:10px;
}
.maininfo div.info.qualifications{
	margin-left:15px;
}

.maininfo div.info.students{
	margin-left:24px;
}

.maininfo div.info{
	margin-right:10px;
	font-size:14px;
}
.xpace{
	margin:0px 1%;
	padding:2px 3%;
}
.thumbnail{
	overflow:auto;	
	
}
.transparent{
	background-color:transparent;
}
blockquote.homequote{
	color:#a3a3a3;
	border-left:none;
	padding-bottom:25px;
}
.whitebg{

	background-color:rgba(255,255,255, .98);
	margin-bottom: 15px;
	padding-top:1%;
	padding-bottom:1%;
	font-size: 21px;
	font-weight: 200;
}

.holder3 h3{
	margin-top:0px;
	font-size:23px;
}
.row.maininfo{
	color:#666;
	font-size:16px;
	padding-top:16px;
	
}

/*Application Form CSS Rules*/

form.scholarship{
	background-color:rgba(255,255,255, .60);
	padding:15px;
	border:4px solid #ddd;
}
.form-horizontal .control-label {
	text-align: left;
}
.input-control{
	padding:0px 15px;
	max-width:500px;
}
label.error {
    color: #a94442;
    font-size:12px;
    padding: 5px 0px;
}
.input-group-addon:last-child {
	border-left: 0;
	padding-right: 25px;
}
.fullname .col-xs-4{
	padding: 0px 5px;
}
.fullname .col-xs-3 {
	padding: 0px 5px 0px 15px;
}
.input-control.txtarea{
	padding:0px 15px;
	max-width:100%;
}
.address .col-xs-4{
	padding-right:5px;
}
.address .col-xs-3{
	min-width:85px;
}
.address .col-xs-2{
	min-width:85px;
}
.address .col-xs-1{
	min-width:85px;
}
.address .col-xs-3,.address .col-xs-2,.address .col-xs-1{
	padding:0px 5px;
}
.has-feedback .col-xs-1 .form-control {
	padding-right: 0px;
}

.has-feedback .col-xs-1 .form-control{
	text-transform:uppercase;
}

@media (max-width: 1200px){
	blockquote {
		padding: 10px 20px;
		margin: 0 0 0px;
		font-size: 17.5px;
		border-left: 5px solid #eee;
	}

	.image{
		padding-bottom:10px;
	}
	.col-lg-3.bio {
		width: 100%;
		margin-bottom:30px;
	}
	.column2{
		width:100%;
	}
}
@media (max-width: 980px){
	blockquote.homequote h1{
		font-size:25px;
	}
	.bio p{
		font-size:17px;
	}
	.column7{
		width:60%;
		float: left;
	}
	.column5{
		width:40%;
		float: left;
	}

	
}

@media (max-width: 720px){


	.image img{
		width:100%;
		max-width:400px;
	}
	.column7{
		width:100%;
		float: left;
		margin-bottom:20px;
	}
	.column5{
		width:100%;
		float: left;
		margin-bottom:20px;
		text-align:center;
	}
}

@media (max-width: 690px){
	
	.column4{
		width:100%;
		margin:10px 0px 15px 10px;
	}


	.image img{
		width:100%;
		max-width:400px;
	}
	.column7{
		width:100%;
		float: left;
		margin-bottom:20px;
	}
	.column5{
		width:100%;
		float: left;
		margin-bottom:20px;
		text-align:center;
	}
	.students.holder3{
		margin-left:0px;
	
	
	}

	.qualifications.holder3{
		margin-left:0px;
	
	
	}

	.maininfo div.info.qualifications{
		margin-left:0px;
	}

	.maininfo div.info.students{
		margin-left:0px;
	}
	
}
@media (max-width: 580px){
	.input-control {
		padding: 0px 15px;
		width: 100%;
		max-width:none;
	}
	.address .col-xs-3,.address .col-xs-2,.address .col-xs-1{
		padding:4px 15px;
	}
	.fullname .col-xs-4, .fullname .col-xs-3{
		padding: 4px 15px;
	}
}

@media (max-width: 510px){


	.image{
		padding-bottom:10px;
		width:100%;
		background-color:transparent;
		float: none;
		
	}
	.image img{
		max-width:60%;
		margin:0px auto;
		display:block;
		float: none;
		
	}
	blockquote h1{
		margin-top:0px;
	}
	.row.maininfo {
		padding-top: 0px;
	}
}

@media (max-width: 460px){


	.image{
		padding-bottom:10px;
		width:100%;
		max-width:80%;
		margin-left: 12%;
		float: none;
		
	}
}
/* Style for Header, Navigation and Logos  */

